In [1]:
import pandas as pd

In [4]:
# Import data
df=pd.read_csv('Downloads/50_Startups.csv')
df

          RND      ADMIN        MKT       STATE     PROFIT
0   165349.20  136897.80  471784.10    New York  192261.83
1   162597.70  151377.59  443898.53  California  191792.06
2   153441.51  101145.55  407934.54     Florida  191050.39
3   144372.41  118671.85  383199.62    New York  182901.99
4   142107.34   91391.77  366168.42     Florida  166187.94
5   131876.90   99814.71  362861.36    New York  156991.12
6   134615.46  147198.87  127716.82  California  156122.51
7   130298.13  145530.06  323876.68     Florida  155752.60
8   120542.52  148718.95  311613.29    New York  152211.77
9   123334.88  108679.17  304981.62  California  149759.96
10  101913.08  110594.11  229160.95     Florida  146121.95
11  100671.96   91790.61  249744.55  California  144259.40
12   93863.75  127320.38  249839.44     Florida  141585.52
13   91992.39  135495.07  252664.93  California  134307.35
14  119943.24  156547.42  256512.92     Florida  132602.65
15  114523.61  122616.84  261776.23    New York  129917.04
16   78013.11  121597.55  264346.06  California  126992.93
17   94657.16  145077.58  282574.31    New York  125370.37
18   91749.16  114175.79  294919.57     Florida  124266.90
19   86419.70  153514.11       0.00    New York  122776.86
20   76253.86  113867.30  298664.47  California  118474.03
21   78389.47  153773.43  299737.29    New York  111313.02
22   73994.56  122782.75  303319.26     Florida  110352.25
23   67532.53  105751.03  304768.73     Florida  108733.99
24   77044.01   99281.34  140574.81    New York  108552.04
25   64664.71  139553.16  137962.62  California  107404.34
26   75328.87  144135.98  134050.07     Florida  105733.54
27   72107.60  127864.55  353183.81    New York  105008.31
28   66051.52  182645.56  118148.20     Florida  103282.38
29   65605.48  153032.06  107138.38    New York  101004.64
30   61994.48  115641.28   91131.24     Florida   99937.59
31   61136.38  152701.92   88218.23    New York   97483.56
32   63408.86  129219.61   46085.25  California   97427.84
33   55493.95  103057.49  214634.81     Florida   96778.92
34   46426.07  157693.92  210797.67  California   96712.80
35   46014.02   85047.44  205517.64    New York   96479.51
36   28663.76  127056.21  201126.82     Florida   90708.19
37   44069.95   51283.14  197029.42  California   89949.14
38   20229.59   65947.93  185265.10    New York   81229.06
39   38558.51   82982.09  174999.30  California   81005.76
40   28754.33  118546.05  172795.67  California   78239.91
41   27892.92   84710.77  164470.71     Florida   77798.83
42   23640.93   96189.63  148001.11  California   71498.49
43   15505.73  127382.30   35534.17    New York   69758.98
44   22177.74  154806.14   28334.72  California   65200.33
45    1000.23  124153.04    1903.93    New York   64926.08
46    1315.46  115816.21  297114.46     Florida   49490.75
47       0.00  135426.92       0.00  California   42559.73
48     542.05   51743.15       0.00    New York   35673.41
49       0.00  116983.80   45173.06  California   14681.40

In [5]:
df.isna().sum()

RND       0
ADMIN     0
MKT       0
STATE     0
PROFIT    0
dtype: int64

In [ ]:
# Filling null values
# for i in df.columns:
#     if df[i].dtypes==object:
#         df[i]=df[i].fillna(df[i].mode()[0])
#     else:
#         df[i]=df[i].fillna(df[i].mean())

In [6]:
X=df.drop(labels=['STATE',],axis=1)
Y=df[['STATE']]

In [7]:
Y.columns

Index(['STATE'], dtype='object')

In [10]:
from sklearn.preprocessing import StandardScaler

In [12]:
ss=StandardScaler()

In [13]:
Xnew=pd.DataFrame(ss.fit_transform(X),columns=X.columns)

In [14]:
Xnew

         RND     ADMIN       MKT    PROFIT
0   2.016411  0.560753  2.153943  2.011203
1   1.955860  1.082807  1.923600  1.999430
2   1.754364 -0.728257  1.626528  1.980842
3   1.554784 -0.096365  1.422210  1.776627
4   1.504937 -1.079919  1.281528  1.357740
5   1.279800 -0.776239  1.254210  1.127250
6   1.340066  0.932147 -0.688150  1.105481
7   1.245057  0.871980  0.932186  1.096210
8   1.030369  0.986952  0.830887  1.007470
9   1.091819 -0.456640  0.776107  0.946022
10  0.620398 -0.387599  0.149807  0.854847
11  0.593085 -1.065540  0.319834  0.808168
12  0.443260  0.215449  0.320617  0.741155
13  0.402078  0.510179  0.343957  0.558750
14  1.017181  1.269199  0.375742  0.516026
15  0.897913  0.045868  0.419219  0.448720
16  0.094441  0.009118  0.440446  0.375436
17  0.460720  0.855666  0.591017  0.334771
18  0.396725 -0.258465  0.692992  0.307116
19  0.279442  1.159837 -1.743127  0.269773
20  0.055726 -0.269588  0.723926  0.161935
21  0.102724  1.169186  0.732788 -0.017534
22  0.006007  0.051850  0.762376 -0.041613
23 -0.136201 -0.562211  0.774349 -0.082169
24  0.073115 -0.795469 -0.581939 -0.086729
25 -0.199312  0.656489 -0.603517 -0.115493
26  0.035370  0.821718 -0.635835 -0.157367
27 -0.035519  0.235069  1.174271 -0.175542
28 -0.168793  2.210141 -0.767189 -0.218798
29 -0.178609  1.142457 -0.858134 -0.275882
30 -0.258074 -0.205629 -0.990357 -0.302625
31 -0.276958  1.130554 -1.014419 -0.364127
32 -0.226949  0.283924 -1.362450 -0.365524
33 -0.401129 -0.659324  0.029817 -0.381787
34 -0.600682  1.310535 -0.001879 -0.383444
35 -0.609750 -1.308658 -0.045493 -0.389291
36 -0.991570  0.205925 -0.081763 -0.533932
37 -0.652532 -2.525994 -0.115608 -0.552955
38 -1.177178 -1.997270 -0.212785 -0.771497
39 -0.773820 -1.383122 -0.297583 -0.777094
40 -0.989577 -0.100900 -0.315786 -0.846411
41 -1.008534 -1.320796 -0.384552 -0.857466
42 -1.102106 -0.906938 -0.520596 -1.015365
43 -1.281134  0.217682 -1.449605 -1.058960
44 -1.134305  1.206419 -1.509074 -1.173209
45 -1.600350  0.101254 -1.727400 -1.180082
46 -1.593413 -0.199322  0.711122 -1.566922
47 -1.622362  0.507722 -1.743127 -1.740627
48 -1.610433 -2.509409 -1.743127 -1.913212
49 -1.622362 -0.157226 -1.369985 -2.439313

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
xtrain,xtest,ytrain,ytest=train_test_split(X,Y,test_size=0.2,random_state=21)

In [17]:
from sklearn.linear_model import LogisticRegression

In [18]:
lr=LogisticRegression()

In [19]:
model=lr.fit(xtrain,ytrain)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [20]:
tr_pred=model.predict(xtrain)

In [21]:
ts_pred=model.predict(xtest)

In [22]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [23]:
tr_score=accuracy_score(ytrain,tr_pred)
ts_score=accuracy_score(ytest,ts_pred)
print(tr_score)
print(ts_score)

0.35
0.4